.address-instruction {
    display: none;

    font-size: 80%;
}
.no-address-results {
    display: none;

    font-size: 120%;
    color: red;
}
.address-list {
    list-style-type: none;
}
.individual-address {
    margin: 0 auto 15px auto;
    width: 50%;
    text-align: left;
    cursor: pointer;
}
